.fira-sans-thin{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}
.fira-sans-extralight{
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}
.fira-sans-light{
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}
.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-medium{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
} 
.fira-sans-semibold{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
} 
.fira-sans-bold{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
} 
.fira-sans-extrabold{
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}
.fira-sans-black{
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}
.fira-sans-thin-italic{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}
.fira-sans-extralight-italic{
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}
.fira-sans-light-italic{
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}
.fira-sans-regular-italic{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}
.fira-sans-medium-italic{
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}
.fira-sans-semibold-italic{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}
.fira-sans-bold-italic{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}
.fira-sans-extrabold-italic{
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}
.fira-sans-black-italic{
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
} 
*{
    padding: 0px;
    margin: 0px;
}
#hero{
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    border: none;
    margin: 60px 120px;
    padding: 40px;
}
#hero .hero-subtitle{
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    text-align: left;
    margin-bottom: 19px;
}
#hero .hero-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 22px;
    margin-bottom: 10px;
}
.btn-hero{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.btn-hero:hover{
    background-color: red;
}
.hero-pic{
    height: 350px;
    width: 400px;
}
#vision{
    margin: 0px 120px;
}
#vision .vision-content .vision-title{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(14, 14, 14, 1);
}
#vision .vision-content .vision-subtitle{
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 30px;
    line-height: 24px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 30px;
}
.card-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    border: none;
    padding: 20px;
}
.card-2{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
    border: none;
    padding: 20px;
}
.card-3{
    background-color: rgba(247, 235, 207, 1);
    border-radius: 10px;
    border: none;
    padding: 20px;
}
.card-1 img{
    height: 59px;
    width: 59px;
    margin-bottom: 15px;
}
.card-2 img{
    height: 59px;
    width: 59px;
    margin-bottom: 15px;
}
.card-3 img{
    height: 59px;
    width: 59px;
    margin-bottom: 15px;
}
.card-1 .card-title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.card-1 .card-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 24px;
}
.card-2 .card-title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.card-2 .card-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 24px;
}
.card-3 .card-title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.card-3 .card-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 24px;
}
.card-1 .btn-card-1{
    background-color: rgba(84, 144, 245, 1);
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn-card-1:hover{
    background-color: red;
}
.card-2 .btn-card-2{
    background-color: rgba(9, 161, 92, 1);
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn-card-2:hover{
    background-color: red;
}
.card-3 .btn-card-3{
    background-color: rgba(255, 194, 57, 1);
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn-card-3:hover{
    background-color: red;
}
.quote{
    background-image: url(../assets/quote-bg.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.8);
    border-radius: 5px;
    margin-top: 30px;
}
.quote .quote-description{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
}
.quote .quote-title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 5px;
}
.quote .quote-subtitle{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    line-height: 24px;
}
#news{
    margin: 60px 120px;
}
#news .news-title{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
#news .news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
.news-card{
    display: flex;
    padding: 56px 48px;
    gap: 32px;
}
.news-card .news-card-pic{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    border: none;
}
.news-card .news-card-content .news-card-title{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.news-card .news-card-content .logo{
    width: 130px;
    height: 40px;
    margin-bottom: 10px;
}
.news-card .news-card-content .date-time{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.news-card .news-card-content .date-time .news-date{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    letter-spacing: 0%;
}
.news-card .news-card-content .date-time .news-time{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    letter-spacing: 0%;
}
.news-card .news-card-content .news-card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 24px;
}
.news-card .news-card-content .read-more-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 13px 26px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.news-card .news-card-content .read-more-btn:hover{
    background-color: red;
}
#donation{
    margin: 0px 120px;
}
#donation .donation-title{
    text-align: center;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    margin-bottom: 24px;
}
#donation .donation-subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.donation-options{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;

}
.donation-options .donation-btn{
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFF;
    border-radius: 5px;
    border: none;
    font-size: 40px;
}
.donation-options .donation-btn:hover{
    background-color: rgba(198, 228, 214, 1);
}
.donation-options .donation-btn-active{
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFF;
    border-radius: 5px;
    border: none;
    font-size: 40px;
    background-color: rgba(198, 228, 214, 1);
}
.donation-options .donation-btn-active:hover{
    background-color: rgba(198, 228, 214, 1);
}
.donation-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}
.donation-amount .donation-input{
    padding: 20px 0px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.donation-button{
    display: flex;
    justify-content: center;
}
.donation-button .donate-now-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.donation-button .donate-now-btn:hover{
    background-color: red;
}
#subscribe{
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 250px;
    border-radius: 15px;
    border: none;
    margin: 60px 120px;
}
#subscribe .subscribe-title{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 16px;
}
#subscribe .subscribe-subtitle{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
}
#subscribe .end{
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-top: 25px;
}
.subscribe-info{
    display: flex;
}
.subscribe-info .input-email{
    padding: 18px 403px 18px 40px;
    border: none;
}
.subscribe-info .subscribe-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.subscribe-info .subscribe-btn:hover{
    background-color: red;
}
